body {
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  background: url('./bg.jpg');
  background-size: cover;
  background-position-y: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keys {
  display: flex;
}

.key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background: rgba(0, 0, 0, .6);
  margin-right: 15px;
  color: #fff;
  font-size: 27px;
  border: 3px solid #000;
  transition: background .07s ease-in-out;
}

.key:last-child {
  margin-right: 0;
}

.key.active {
  background: rgba(255, 0, 0, .5);
  transition: background .07s ease-in-out;
}

.key span {
  font-size: 14px;
  color: #ff0;
}
