* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #434040;
  background: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}

.countdown-clock {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.countdown-clock-controls {
  width: 750px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.countdown-clock-controls > * {
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
}

.countdown-clock-controls input {
  border: 2px solid transparent;
}

.countdown-clock-controls button:hover  { background: rgba(255, 255, 255, 0.8); }
.countdown-clock-controls button:active { transform: scale(1.1); }
.countdown-clock-controls input:focus   { border: 2px solid #1e89e4; }

.countdown-clock-wrapper {
  margin: auto;
  text-align: center;
}

.clock {
  font-size: 180px;
}

.back-at {
  font-size: 23px;
}

@media screen and (max-width: 750px) {
  .countdown-clock-controls {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
  }

  .countdown-clock-controls input[type="text"] {
    margin-top: 10px;
  }
  .clock {
    font-size: 100px;
  }
}
