:root {
  --red: 255;
  --green: 255;
  --blue: 255;
  --opacity: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(to right, #4e54c8, #8f94fb);
}

.player {
  width: 640px;
  height: 480px;
}

video, canvas {
  position: absolute;
}

canvas {
  background: rgba(var(--red), var(--green), var(--blue), var(--opacity));
}

.screenshots {
  margin-top: 20px;
  min-height: 85px;
}

.screenshots img {
  width: 80px;
  height: 60px;
  margin: 10px 5px;
}

.controls {
  width: 550px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.controls > * {
  margin: 5px 5px;
}

.btn {
  width: 120px;
  height: 30px;
  background: #db0bcb;
  color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
}
