* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: linear-gradient(to right, #00b09b, #96c93d);
}

#canvas {
  width: 80%;
  height: 90%;
  margin: auto;
  border-radius: 20px;
  background: #fff;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}
