* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #5D8CD3;
}

.search {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form .search-input {
  width: 300px;
  height: 80px;
  border-radius: 10px;
  border: 8px solid #86A137;
  margin-top: 50px;
  padding: 20px;
  font-size: 24px;
  outline: none;
}

.search-result {
  width: 300px;
  margin-top: 9px;
}

.search-result li {
  list-style-type: none;
  background: #fafafa;
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid #e5e5e5;
}

.search-result li:nth-child(odd) {
  background: #f0f3f0;
  margin-top: -9px;
  transform: perspective(10px) rotateX(-1deg);
}

.search-result li:nth-child(even) {
  margin-top: -12px;
  transform: perspective(10px) rotateX(1deg);
}
