@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding|Kaushan+Script|Merriweather:900');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to right, #7f00ff, #e100ff);
}

.container {
  display: inline-block;
}

.text {
  color: #FDFF00;
  font-size: 14px;
  font-family: 'Merriweather', serif;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  justify-self: center;
  transform: translateX(0);
}

.text.pulse { animation: pulse 1.5s ease infinite; }
.text.shake { animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both; }

.title {
  color: #fff;
  margin: 30px 0;
  padding: 10px 20px;
  border: 5px double #fff;
}

.reminder {
  width: 17%;
  min-width: 120px;
  padding: 25px;
  position: absolute;
  top: 75px;
  left: 35px;
  color: #fff;
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1.5px;
  transform: rotate(-20deg);
  border: 10px double #000;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
}

.panel {
  width: 55vw;
  padding: 30px;
  list-style: none;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.5);
}

.item {
  margin: 0 auto 30px;
  padding: 20px;
  display: grid;
  border-radius: 10px;
  background: rgba(255,255,255,0.1);
}

.item:last-of-type {
  margin-bottom: 0;
}

.item .description {
  margin-bottom: 30px;
  text-align: justify;
}

.item .method {
  color: #fff;
  padding: 10px 20px;
  display: inline-table;
  margin-bottom: 30px;
  border: 1px solid #fff;
}

.item .code {
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 14px;
  white-space: pre-wrap;
  display: inline-block;
  margin: 0 auto;
  padding-right: 30px;
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
}

@media screen and (min-width: 750px) and (max-width: 1100px) {
  .reminder {
    font-size: 14px;
    padding: 15px;
  }

  .panel {
    width: 80vw;
  }
}

@media screen and (max-width: 750px) {
  .reminder {
    width: 160px;
    padding: 25px;
    top: 20px;
    left: -20px;
    font-size: 10px;
    background: transparent;
    border: none;
    transform: rotate(-40deg);
  }

  .panel {
    width: 100vw;
    padding: 10px;
    background: transparent;
  }

  .item {
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
  }

  .item .description {
    padding: 0 20px;
  }

  .item .code {
    font-size: 11px;
    background: rgba(255, 255, 255, 0.3);
  }
}

@keyframes shake {
  10%, 90%       { transform: translateX(-1px); }
  20%, 80%       { transform: translateX(2px); }
  30%, 50%, 70%  { transform: translateX(-4px); }
  40%, 60%       { transform: translateX(4px); }
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@media screen and (max-height: 500px) {
  .text { font-size: 20px; }
  .sub-text { margin-left: 30px; }
}
