.container {
  width: 100vw;
  height: 100vh;
  background: #cecece;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keys {
  display: flex;
}

.key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background: #000;
  opacity: .6;
  margin-right: 15px;
  color: #fff;
  font-size: 27px;
}

.key:last-child {
  margin-right: 0;
}

.key.active {
  background: #f00;
}

.key span {
  font-size: 14px;
  color: #ff0;
}
