* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #B388FF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.controls {
  background: #fff;
  height: 70px;
  display: flex;
  flex-direction: column;
  margin-top: -75px;
  padding: 0 20px;
}

.controls > * {
  flex: 3;
  display: flex;
  align-items: center;
  z-index: 1;
}

.control-set.upper .seek-bar {
  flex: 1;
}

.control-set.lower {
  display: flex;
}

.control-set.lower > * {
  flex: 4;
  margin-right: 30px;
}

.control-set.lower > *:last-child {
  margin-right: 0;
}

.control-set.lower .play {
  flex: 1;
}
