* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #540032;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

video:hover + .controls {
  opacity: 1;
  visibility: visible;
}

.controls:hover {
  opacity: 1;
  visibility: visible;
}

.controls {
  height: 55px;
  display: flex;
  flex-direction: column;
  margin-top: -65px;
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease-in-out;
}

.controls > * {
  flex: 3;
  display: flex;
  align-items: center;
  z-index: 1;
}

.control-set > * {
  outline: none;
}

.control-set.upper .seek-bar {
  flex: 1;
}

.control-set.lower {
  display: flex;
  margin: 0 20px 0 0;
}

.control-set.lower > * {
  flex: 5;
}

.control-set.lower .volume {
  margin-right: 30px;
}

.control-set.lower .play {
  flex: 1;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 25px;
  padding: 0;
  cursor: pointer;
}

.control-set.lower .play .fa-pause { display: none; }
.control-set.lower .play.playing .fa-play { display: none; }
.control-set.lower .play.playing .fa-pause { display: block; }

.fa.fa-play,
.fa.fa-pause {
  position: relative;
  z-index: -1;
}

.control-set input[type=range] {
  -webkit-appearance: none;
}

.control-set input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.control-set input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 1px #0d0d0d;
  background: #0AA100;
  border-radius: 1.3px;
  border: 1px solid #0AA100;
}

.control-set input[type=range]:focus::-webkit-slider-runnable-track {
  background: #055400;
  border: 1px solid #055400;
}

.control-set input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 15px;
  margin-top: -3px;
  border-radius: 20%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}
