:root {
  --spacing: 20px;
  --blur: 0;
  --color: #FFC107;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  background: linear-gradient(to right, #155799, #159957);
}

.css-variables {
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.css-variables-container {
  width: 80vw;
  height: 55vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.css-variables-title {
  color: #fff;
  font-size: 48px;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
}

.css-variables-title .css-variables-hl {
  color: var(--color);
}

.css-variables-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.css-variables-controls label {
  margin-right: 10px;
  color: #fff;
  font-size: 30px;
}

.css-variables-controls input {
  margin-right: 30px;
}

.css-variables-controls input:last-child {
  margin-right: 0;
}

.css-variables-controls .css-variables-ranges {
  margin-right: 30px;
}

.css-variables-image {
  max-width: 65%;
  min-width: 240px;
  height: 340px;
  padding: var(--spacing);
  background: var(--color);
  filter: blur(var(--blur));
}

@media (max-width: 750px) {
  .css-variables-container {
    width: 100vw;
    height: 85vh;
  }

  .css-variables-title {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .css-variables-controls {
    width: 90%;
  }

  .css-variables-controls label {
    text-align: center;
    font-size: 16px;
    display: block;
  }

  .css-variables-controls label:last-of-type {
    margin-right: 0;
  }

  .css-variables-image {
    max-width: 45%;
    min-width: 240px;
    height: auto;
  }
}
