* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
  height: 100vh;
}
