@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Play');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Audiowide', cursive;
}

.panels {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
}

.panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11);
  text-shadow: 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
}

.panel .highlight {
  font-size: 36px;
  text-shadow: 1px 1px 1px #000, 2px 2px 1px #000;
}

.panel .sm-highlight {
  display: none;
}

.panel .title {
  flex: 3;
  font-family: 'Play', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
}

.panel .details {
  flex: 3;
  font-family: 'Play', sans-serif;
  font-size: 18px;
}

.panel .details .item {
  list-style-type: none;
}

.panel .details .item a {
  color: #fff;
  text-decoration: none;
}

.panel > * {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: transform 0.5s;
}

.panel.open {
  flex: 5;
}

.panel > *:first-child { transform: translateY(-200px); }
.panel.details-active > *:first-child { transform: translateY(0); }
.panel > *:last-child { transform: translateY(200px); }
.panel.details-active > *:last-child { transform: translateY(0); }

.panel.one {
  background: #463785 url('https://source.unsplash.com/5pXwpRw6O8c/1000x1000');
  background-position: -100px 0;
}

.panel.two {
  background: #124559 url('https://source.unsplash.com/nIkuMWT4Imc/800x800');
  background-position: center;
}

.panel.three {
  background: #4A1942 url('https://source.unsplash.com/4rDCa5hBlCs/1000x1000');
  background-position: center;
}

.panel.four {
  background: #598392 url('https://source.unsplash.com/1DGD2_CKCbo/800x900');
  background-position: center;
}

.panel.five {
  background: #893168 url('https://source.unsplash.com/45bI5ezo3gE/800x1000');
  background-position: center;
}

@media screen and (max-width: 1080px) {
  .panel .highlight { font-size: 20px; }
  .panel .sm-highlight { display: flex; }
  .panel .highlight.developer { display: none; }
  .panel .title { font-size: 10px; }
  .panel .details { font-size: 10px; }
}

@media screen and (max-width: 780px) and (max-height: 500px){
  .panel.one {
    background: #463785 url('https://source.unsplash.com/5pXwpRw6O8c/500x400');
  }

  .panel.two {
    background: #124559 url('https://source.unsplash.com/nIkuMWT4Imc/500x400');
    background-position: center;
  }

  .panel.three {
    background: #4A1942 url('https://source.unsplash.com/4rDCa5hBlCs/500x400');
    background-position: center;
  }

  .panel.four {
    background: #598392 url('https://source.unsplash.com/1DGD2_CKCbo/500x400');
  }

  .panel.five {
    background: #893168 url('https://source.unsplash.com/45bI5ezo3gE/500x400');
    background-position: center;
  }
}
