@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700|Gloria+Hallelujah|Rammetto+One');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(160deg, rgb(143, 22, 237), rgb(27, 141, 15));
  background:linear-gradient(57deg,#e36f53,#fa5ae0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 250px;
}

.title {
  width: 325px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 48px;
  color: #f7e376;
  transform: rotate(-25deg);
}

.controls {
  font-family: 'Rammetto One', cursive;
  font-size: 30px;
  width: 300px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30px;
}

.controls .score {
  margin-bottom: 20px;
  flex-basis: 100%;
  text-align: center;
}

.controls .timer {
  width: 65px;
  font-size: 45px;
  margin-right: 30px;
}

.control-set {
  display: flex;
}

.controls button[name='start'] {
  width: 100px;
  height: 70px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #36C3C3;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  color: #fff;
  line-height: 3;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.controls button[name='start']:hover {
  background: #20bcbc;
}

.controls button[name='start']:active {
  transform: scale(1.1);
}

.game {
  width: 750px;
  width: 70vw;
  height: 70vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.hole {
  width: 33%;
  height: 250px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.hole img {
  object-fit: contain;
}

.grass {
  margin: auto;
  z-index: 10;
}

.mole {
  width: 150px;
  opacity: 0;
  margin: auto;
  transform: translateY(140px);
  transition: all .3s ease-in-out;
}

.mole.out {
  transform: translateY(0);
  opacity: 1;
}

@media screen and (max-width: 1050px) { .game { width: 90%; } }

@media screen and (max-width: 750px) {
  .main-header {
    height: auto;
    justify-content: space-around;
  }

  .title {
    width: 130px;
    top: 15px;
    margin-right: 50px;
    position: relative;
    font-size: 36px;
    font-family: 'Gloria Hallelujah', cursive;
    color: #f7e376;
    line-height: 1.5;
    transform: rotate(-25deg);
  }

  .controls {
    width: 150px;
    height: auto;
    flex-direction: column-reverse;
  }

  .control-set {
    align-items: center;
  }

  .controls .score,
  .controls .timer {
    font-size: 20px;
    margin: 0;
  }

  .controls .score {
    position: relative;
    top: 10px;
  }

  .controls button[name='start'] {
    width: 70px;
    height: 50px;
    font-size: 18px;
  }

  .game {
    width: 70%;
    height: 70%;
  }

  .hole {
    height: 45%;
    position: relative;
    align-items: center;
  }

  .grass {
    width: 75%;
    bottom: -10px;
    position: absolute;
  }

  .grass img {
    width: 100%;
  }

  .mole {
    width: 80px;
    position: relative;
    top: -35px;
  }
}

@media screen and (max-width: 550px) {
  .title {
    width: 85px;
    font-size: 24px;
    top: 30px;
  }

  .grass {
    width: 80%;
  }
}
