@import url('https://fonts.googleapis.com/css?family=Audiowide');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Audiowide', cursive;
  display: flex;
  overflow: hidden;
}

.panel {
  width: 20vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: width 1.2s cubic-bezier(.22, -0.52, .41, 2.01);
  text-shadow: 1px 1px 1px #000, 2px 2px 1px #000;
}

.panel:hover {
  width: 50vw;
}

.panel .highlight {
  font-size: 36px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.panel .title {
  margin-top: 0;
  visibility: hidden;
  opacity: 1;
  transition: all 1.2s;
}

.panel .details {
  margin-top: auto;
  margin-bottom: -250px;
  visibility: hidden;
  opacity: 1;
  transition: all 1.2s;
}

.panel .details .item {
  font-size: 14px;
  display: block;
  margin-bottom: 15px;
}

.panel .details .item a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  display: block;
}

.panel .details .line {
  display: block;
}

.panel .details .line.second {
  margin-left: 10px;
}

.panel.one {
  background: #463785 url('http://lorempixel.com/600/1000/nightlife/');
}
.panel.two {
  background: #124559 url('http://lorempixel.com/600/1000/abstract/');
}
.panel.three {
  background: #4A1942 url('http://lorempixel.com/600/1000/animals/');
}
.panel.four {
  background: #598392 url('http://lorempixel.com/600/1000/people/');
}
.panel.five {
  background: #893168 url('http://lorempixel.com/600/1000/nature/');
}
