@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Play');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Audiowide', cursive;
}

.panels {
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 1.2s cubic-bezier(.22, -0.52, .41, 2.01);
  text-shadow: 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
}

.panel .highlight {
  font-size: 36px;
  text-shadow: 1px 1px 1px #000, 2px 2px 1px #000;
}

.panel .title {
  font-family: 'Play', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  /* visibility: hidden; */
  opacity: 1;
  transition: all 1.2s;
}

.panel .details {
  font-family: 'Play', sans-serif;
  font-size: 16px;
  /* visibility: hidden; */
  opacity: 1;
  transition: all 1.2s;
}

.panel .details .item {
  display: block;
}

.panel .details .item a {
  color: #fff;
  text-decoration: none;
}

.panel .details .line {
  display: block;
}

.panel .details .line.second {
  margin-left: 10px;
 }

.panel > * {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.panel.one {
  background: #463785 url('http://lorempixel.com/600/1000/nightlife/');
}
.panel.two {
  background: #124559 url('http://lorempixel.com/600/1000/abstract/');
}
.panel.three {
  background: #4A1942 url('http://lorempixel.com/600/1000/animals/');
}
.panel.four {
  background: #598392 url('http://lorempixel.com/600/1000/people/');
}
.panel.five {
  background: #893168 url('http://lorempixel.com/600/1000/nature/');
}
