@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}

.sticky-nav-header {
  width: 100vw;
  height: 450px;
  background: url('./img/bg.jpg');
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.sticky-nav-menu {
  width: 100vw;
  height: 80px;
  top: auto;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 5px rgba(0,0,0,.1)
  background: #387963;
}

.sticky-nav-menu.fixed {
  top: 0;
  position: fixed;
}

.sticky-nav-menu a {
  width: 90px;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-right: 50px;
  border-radius: 5px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.sticky-nav-menu a:last-child {
  margin-right: 0;
}

.sticky-nav-article {
  width: 750px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 60px;
  margin: 70px 0;
  text-align: justify;
}

.sticky-nav-article p {
  margin-bottom: 20px;
}

@media (max-width: 650px) {
  .sticky-nav-header {
    height: 270px;
    background-position: 0 -100px;
  }

  .sticky-nav-article {
    width: 90vw;
    padding: 50px;
    margin: 30px 0;
  }
}

@media (min-width: 651px) and (max-width: 900px) {
  .sticky-nav-header { background-position: 0 -80px; }
  .sticky-nav-article { width: 80vw; }
}

@media (min-width: 901px) and (max-width: 1100px) { .sticky-nav-header { background-position: 0 -190px; } }
@media (min-width: 1101px) { .sticky-nav-header { background-position: 0 -310px; } }
