@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}

.sticky-nav-header {
  width: 100%;
  height: 450px;
  display: flex;
  align-items: flex-end;
  background: url('https://source.unsplash.com/hFzIoD0F_i8') no-repeat;
  background-size: cover;
  background-position: 0 -400px;
}

.sticky-nav-menu {
  width: 100%;
  height: 80px;
  top: auto;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 5px rgba(0,0,0,.1);
  background: #387963;
}

.sticky-nav-menu.fixed {
  top: 0;
  position: fixed;
}

.sticky-nav-menu a {
  width: 90px;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-right: 50px;
  border-radius: 5px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.sticky-nav-menu a:last-child {
  margin-right: 0;
}

.sticky-nav-article {
  width: 750px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 60px;
  margin: 70px 0;
  text-align: justify;
}

.sticky-nav-article p {
  margin-bottom: 20px;
}

@media (max-width: 750px) {
  .sticky-nav-header {
    height: 250px;
    background-position: 0 -200px;
  }

  .sticky-nav-menu { height: 60px; }
  .sticky-nav-menu a { font-size: 16px; }

  .sticky-nav-article {
    width: 90%;
    padding: 50px;
    margin: 30px 0;
  }
}

@media (max-width: 550px) {
  .sticky-nav-header {
    background-position: 0 -100px;
  }
}
