@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700|Gloria+Hallelujah|Rammetto+One');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(160deg, rgb(143, 22, 237), rgb(27, 141, 15));
  background:linear-gradient(57deg,#e36f53,#fa5ae0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 250px;
}

.title {
  width: 320px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 48px;
  color: #f7e376;
  transform: rotate(-25deg);
}

.controls {
  font-family: 'Rammetto One', cursive;
  font-size: 30px;
  width: 300px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30px;
}

.controls .score {
  margin-bottom: 20px;
  flex-basis: 100%;
  text-align: center;
}

.controls .timer {
  width: 65px;
  font-size: 45px;
  margin-right: 30px;
}

.controls button[name='start'] {
  width: 100px;
  height: 70px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #36C3C3;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  color: #fff;
  line-height: 3;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.controls button[name='start']:hover {
  background: #20bcbc;
}

.controls button[name='start']:active {
  transform: scale(1.1);
}

.game {
  width: 750px;
  height: 70vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.hole {
  flex: 1;
  min-width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.hole img {
  object-fit: contain;
}

.grass {
  display: flex;
}

.grass img {
  width: 120px;
}

.grass img:first-of-type {
  transform: translate(90px, 5px);
}

.grass img:last-of-type {
  transform: translate(-100px, 5px);
}

.mole {
  width: 150px;
  opacity: 0;
  transform: translateY(140px);
  transition: all .3s ease-in-out;
}
