@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

:root {
  --x: 20px;
  --y: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #1488cc, #2b32b2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

h1, h2 {
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: var(--x) var(--y) 10px rgba(0, 0, 0, .5);
  margin-bottom: 30px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}
